version: '3.8'

volumes:
  excalidraw-data:

networks:
  default:
    name: private_network

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--providers.docker.exposedByDefault=false"

  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    volumes:
      - excalidraw-data:/app/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.excalidraw.rule=PathPrefix(`/excalidraw`)"
      - "traefik.http.routers.excalidraw.entrypoints=web"
      - "traefik.http.services.excalidraw.loadbalancer.server.port=80"
