version: '3.8'

volumes:
  excalidraw-data:

networks:
  public-network:
    external: true
    name: "public_network"
  internal-network:
    driver: overlay
    internal: true
    name: "private_network"

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
    labels:
      # core
      - traefik.enable=true
      - traefik.docker.network=public_network
      - traefik.http.services.traefik.loadbalancer.server.port=8080
      # http
      - traefik.http.routers.traefik.entrypoints=web_insecure
      - traefik.http.routers.traefik.rule=Host(`proxy.localhost`)
      - traefik.http.routers.traefik.service=api@internal

  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    volumes:
      - excalidraw-data:/app/data
    labels:
      # core
      - traefik.enable=true
      - traefik.docker.network=public_network
      # http
      - traefik.http.routers.excalidraw.rule=Host(`draw.localhost`)
      - traefik.http.routers.excalidraw.entrypoints=web_insecure
      - traefik.http.services.excalidraw.loadbalancer.server.port=80
      - traefik.http.routers.excalidraw.service=excalidraw